body {
    background-image: url("bg.svg")
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-buttons button {
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    padding: 11px 22px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    background: #2341D5;
    color: #FFF;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-buttons {
        margin-top: 10px;
    }

    .nav-buttons button {
        margin-left: 0;
        margin-top: 5px;
    }
}

#title1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 242px;
    margin-left: 260px;
    position: fixed;
}

#title2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 324px;
    margin-left: 260px;
    position: fixed;
    width: 540px;
}

#browse {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    text-decoration-line: underline;
    margin-top: 469px;
    margin-left: 260px;
    position: fixed;
}