button:hover{
    cursor: pointer;
  }
  a:hover{
    cursor: pointer;
  }
  
  .navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-buttons button {
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    padding: 11px 22px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    background: #2341D5;
    color: #FFF;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-buttons {
        margin-top: 10px;
    }

    .nav-buttons button {
        margin-left: 0;
        margin-top: 5px;
    }
}
  #container{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2%;
  }
  
  #job-header{
    display: grid;
    grid-template-columns: 117px 1fr;
  }
  
  #apply-btn{
    display: flex;
    width: 296px;
    height: 50px;
    padding: 12px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #2341D5;
    box-shadow: 0px 1px 25px 4px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 100px;
    border: 0;
  }
  
  #info-card{
    display: flex;
    width: 260px;
    padding: 25px 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    border-radius: 12px;
    background: #F7F6FF;
    box-shadow: 0px 1px 25px 4px rgba(0, 0, 0, 0.10);
    margin-top: 23px;
  }
  
  .info-title{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }
  .info-des{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
  }
  #job-category{
    margin: 0;
    padding: 0;
  }
  
  
  #job-position{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  #company-name{
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
    margin-bottom: 14px;
  }
  #tags{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .tag{
    border: 1.8px;
    border-style: solid;
    border-color: #2341D5;
    border-radius: 4px;
    padding: 3px;
    margin-right: 10px;
  }
  
  #job-description{
    font-family: Inter;
  }
  #description-content{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  #image-holder{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #2341D5;
    margin-right: 17px;
  }
  #job-heading{
    gap: 0;
  }
  h2{
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  #footer{
    width: 100%;
    background-color: #000;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  body{
    margin: 0;
  }
  #email{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 40px;
  }
  
  @media (max-width: 768px) {
    #container {
        grid-template-columns: 1fr; 
        margin-left: 5%;
        margin-right: 5%;
    }
  
    #apply-btn {
        width: 100%; 
        margin-top: 20px; 
    }
  
    #info-card {
        width: 100%; 
        margin-top: 20px; 
        margin-right: 20px;
    }
  
    #job-header {
        grid-template-columns: 1fr; 
    }
  
    #image-holder {
        margin-right: 0; 
        margin-bottom: 10px; 
    }
    #apply{
        width: 100%;
    }
  }